# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.yaml
!*.py
!*.json
!*.xml
!*.md
!*.js
!*.svg
!*.png
!*.txt
!*.gz
!*.css
!*.json
!assistants
!custom_components
!custom_components/pollenniva
!custom_components/*
!custom_components/nhl_api/*
!custom_components/hacs/*
!custom_components/hacs/repositories/*
!custom_components/hacs/frontend/*
!custom_components/hacs/frontend/elements/*
!custom_components/reolink_dev/*
!custom_components/reolink_dev/ReolinkPyPi/*
!media_player
!sensor
!customize
!entities
!esphome
!logging
!lovelace
!notify
!packages
!python_scripts
!themes
!www
!www/*.jpg
!www/community
!www/community/*
!www/custom-lovelace
!www/custom-lovelace/*
!www/lovelace-card-tools
!www/images
!www/pollen_img

# Ignore folders.
.storage
.cloud
#.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
#ip_bans.yaml
secrets.yaml
known_devices.yaml
ui-lovelace.yaml
OZW_Log.txt