# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.yaml
!*.py
!*.xml
!*.md
!*.js
!assistants
!custom_components
!media_player
!sensor
!customize
!entities
!logging
!lovelace
!packages
!python_scripts
!themes
!www

# Ignore folders.
.storage
.cloud
#.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
#ip_bans.yaml
secrets.yaml
known_devices.yaml